{% extends 'newsletter/client_personal_account.html'%}
{% block content %}
{% load form_filters %}

<div class="row mb-4">
    <div class="col-md-12">
        <div class="h-100 p-5 bg-body-tertiary rounded-3">
            {% if object %}
            <h2>Редактировать клиента</h2>
            {% else %}
            <h2>Добавить клиента</h2>
            <p>Заполните данные для добавления новых клиентов.</p>
            {% endif %}

            <form method="post">
                {% csrf_token %}
                {{ form|add_class_to_fields:"form-control" }}
                {% if object %}
                <button type="submit" class="btn btn-primary mt-3">Редактировать</button>
                {% else %}
                <button type="submit" class="btn btn-primary mt-3">Добавить клиента</button>
                {% endif %}
            </form>

        </div>
    </div>
</div>
{% endblock %}

