{% extends 'newsletter/client_personal_account.html' %}
{% block content %}
{% load static %}
    <div class="container py-4">
        <div class="row">
            <div class="col-md-8">
                <h2 class="mb-3">Информация о клиенте</h2>

                <div class="card mb-3">
                    <div class="card-header">
                        Сообщение:
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Тема</h5>
                        <p class="card-text">{{ message.title }}</p>

                        <h5 class="card-title">Текст</h5>
                        <p class="card-text">{{ message.message }}</p>

                    </div>
                </div>
            </div>

        <div class="mb-4">
          <a href="{% url 'newsletter:personal_account_overview' %}" class="btn btn-primary" type="button">Назад</a>
        </div>
{% endblock %}