{% load my_tags %}
{% if user.is_authenticated %}
<div class="dropdown">
    <button class="btn btn-light dropdown-toggle d-flex align-items-center" type="button" id="profileMenu" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{{ user.avatar.url }}" alt="Аватар пользователя" class="rounded-circle me-2" width="40" height="40">
        <span>{{ user.get_full_name|default:user.username }}</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileMenu">
        <li><a class="dropdown-item" href="{% url 'users:profile' %}">Профиль</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item text-danger" href="{% url 'users:logout' %}">Выйти</a></li>
    </ul>
</div>
{% endif %}
